.depthChartPlayer {
    display: flex;
    background-color: white;
    border: 1px solid grey;
    margin: 3px 0 3px  auto;
    border-radius: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }

  .depthChartPlayer:hover {
    transform: scale(1.05);
  }

.playerRow {
  display: flex;
  justify-content: space-evenly;
}

.playerOverall {
  border: 1px solid limegreen;
  background-color: lightgreen;
  justify-self: flex-end;
}

.playerPotential {
  border: 1px solid skyblue;
  background-color: lightskyblue;
  justify-self: flex-end;
}